<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="/fragment/head :: head"></head>
<link rel="stylesheet" th:href="@{/s/css/table.css}">
<!--/*@thymesVar id="id" type="java.lang.String"*/-->
<!--/*@thymesVar id="op" type="java.lang.String"*/-->
<!--/*@thymesVar id="type" type="java.lang.String"*/-->
<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:include="/fragment/settings-pane :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div class="sidebar-menu toggle-others" th:include="/fragment/menu :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:include="/fragment/user-info :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-th-text="${op == 'create'? '新建字典':'编辑字典'}">编辑字典</h3>
                        <div class="panel-options">
                            <button type="button" class="btn btn-info createColumn">添加字段</button>
                            <button class="btn btn-info save" data-th-attr="entityid=${id}"
                                    data-th-remove="${op == 'delete'?'all':'none'}">保存
                            </button>
                            <button class="btn btn-danger remove" data-th-attr="entity_id=${id}"
                                    data-th-remove="${op == 'delete'?'none':'all'}">删除
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">

                        <!--/*@thymesVar id="columnTypes" type="java.util.List"*/-->
                        <!--/*@thymesVar id="columnType" type="com.caolei.system.constant.ColumnType"*/-->
                        <!--/*@thymesVar id="dictCatalog" type="com.caolei.system.pojo.DictCatalog"*/-->
                        <form id="main_form" role="form" class="form-horizontal" method="post">
                            <label>
                                <input hidden="hidden" name="id" data-th-value="${id}">
                            </label>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">字典名称</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="字典名称" data-th-value="${dictCatalog.name}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="description">描述信息</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="description" name="description"
                                           placeholder="描述信息" data-th-value="${dictCatalog.description}">
                                </div>
                            </div>

                            <th:block th:if="${dictCatalog.configs?.size() > 0}">
                                <div class="form-group-separator"></div>
                                <table class="table table-striped" id="main-table">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th class="name-column">列名</th>
                                        <th>类型</th>
                                        <th>长度</th>
                                        <th class="operation">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody class="middle-align">

                                    <tr th:each="config ,status : ${configs}">
                                        <td data-th-text="${status.index+1}"></td>
                                        <td data-th-text="${config.columnName}"></td>
                                        <td data-th-text="${config.columnType.text}"></td>
                                        <td data-th-text="${config.length}"></td>
                                        <td class="operation">
                                            <!-- 保存时根据 columnConfig.id 的顺序重新排列顺序-->
                                            <label hidden="hidden">
                                                <input name="columnConfig.id" data-th-value="${config.id}">
                                            </label>
                                            <a href="javascript:void(0)" data-th-attr="entity_id=${config.id}"
                                               class="btn btn-secondary btn-sm btn-icon icon-left updateColumn">
                                                修改
                                            </a>
                                            <a href="javascript:void(0)" data-th-attr="entity_id=${config.id}"
                                               class="btn btn-danger btn-sm btn-icon icon-left deleteColumn">
                                                删除
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </th:block>

                            <div class="form-group-separator"></div>
                            <br>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="/fragment/footer :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div id="chat" class="fixed" th:include="/fragment/chat-pane :: chat-pane"></div>

</div>

<!--新增或修改列的弹出框-->
<div class="modal fade" id="modal-save" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑列属性</h4>
            </div>

            <div class="modal-body">
                <form id="column_config_form" action="" method="post">
                    <label hidden="hidden">
                        <input hidden="hidden" name="dict_id" th:value="${id}" type="text">
                        <input id="column_id" name="id" type="text" value="">
                    </label>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="column_name">列名</label>

                                <input type="text" class="form-control" id="column_name" name="columnName">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="column_type">类型</label>

                                <select class="form-control" id="column_type" name="columnType">
                                    <option value="">请选择类型</option>
                                    <option th:each="columnType ,status:${columnTypes}" th:value="${columnType.name()}"
                                            th:text="${columnType.text}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="length">长度</label>

                                <input type="text" class="form-control" id="length" name="length">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="field_order">顺序</label>

                                <input type="text" class="form-control" id="field_order" name="fieldOrder">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label for="column_description" class="control-label">描述信息</label>

                                <textarea class="form-control autogrow" id="column_description"
                                          name="columnDescription" placeholder="这一列是做什么用的...">
                                </textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info saveColumn" data-dismiss="modal">保存</button>
            </div>

        </div>
    </div>
</div>

<!-- 引入js文件 -->
<div th:include="/fragment/onload_js :: onloadJS"></div>
<div th:include="/fragment/crud_js :: crud_js"></div>
<script type="text/javascript" th:inline="javascript">

    //点击新增列的时候
    $('.btn.createColumn').on('click', function () {
        $("#modal-save").modal('show', {backdrop: 'static'});
    });

    //修改列的时候
    $('.btn.updateColumn').on('click', function () {
        $.ajax({
            url: baseUrl + '/updateColumn',
            data: {id: $(this).attr("entity_id")},
            type: 'get',
            success: function (result) {
                $('#column_id').val(result.id);
                $('#column_name').val(result.columnName);
                $('#column_type').val(result.columnType.name);
                $('#field_order').val(result.fieldOrder);
                $('#length').val(result.length);
                $('#column_description').val(result.columnDescription);
            }
        });

        $("#modal-save").modal('show', {backdrop: 'static'});

    });

    //弹出框点击保存时
    $('.btn.saveColumn').on('click', function () {
        //FIXME validate
        $("#column_config_form").attr('action', baseUrl + '/saveColumn');
        $("#column_config_form").submit();
    });

    //点击删除按钮时
    $('.btn.deleteColumn').on('click', function () {
        $("#id").val($(this).attr("entity_id"));

        var form = $("#form");
        form.attr({"action": baseUrl + "/deleteColumn"});
        form.append('<input name="dict_id" value="' + [[${id}]] + '">');
        form.submit();
    });

</script>
</body>
</html>