<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="fragment :: head"></head>
<style>
    span.form-control {
        border: none;
    }
</style>

<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:replace="fragment :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div th:replace="fragment :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:replace="fragment :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">查看日志</h3>
                    </div>
                    <div class="panel-body">

                        <!--/*@thymesVar id="permission" type="com.caolei.base.pojo.Permission"*/-->
                        <form id="menu_form" role="form" class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="userName">用户</label>

                                <div class="col-sm-8">
                                    <span class="form-control" id="userName"
                                          data-th-text="${log.user?.userName}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="ipAddress">IP地址</label>

                                <div class="col-sm-8">
                                    <span class="form-control" id="ipAddress"
                                          data-th-text="${log.ipAddress}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="method">HTTP METHOD</label>

                                <!-- ${permission.entityResource?.code} 非空判断 -->
                                <div class="col-sm-8">
                                    <span class="form-control" id="method"
                                          data-th-text="${log.method}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="requestUrl">请求地址</label>

                                <div class="col-sm-8">
                                    <span class="form-control" id="requestUrl"
                                          data-th-text="${log.requestUrl}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="resourceId">请求时间</label>

                                <div class="col-sm-8">
                                    <span class="form-control" id="resourceId"
                                          data-th-text="${log.createTime}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <br>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="fragment :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div th:replace="fragment :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:replace="fragment :: common-js"></div>
<script type="application/javascript" th:inline="javascript">

</script>
</body>
</html>