<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="fragment :: head"></head>

<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:replace="fragment :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div th:replace="fragment :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:replace="fragment :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->

        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-th-text="${op == 'create'? '新建分类':'编辑分类'}">编辑分类</h3>
                        <div class="panel-options">
                            <button class="btn btn-info save" data-th-attr="entity_id=${id}">
                                保存
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">

                        <!--/*@thymesVar id="category" type="com.github.cloud0072.base.model.Category"*/-->
                        <form id="main_form" role="form" class="form-horizontal">
                            <label>
                                <input hidden="hidden" name="id" data-th-value="${id}">
                            </label>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">名称</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="分类名称" data-th-value="${category.name}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="categoryOrder">顺序</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="categoryOrder" name="categoryOrder"
                                           placeholder="菜单中显示的顺序" data-th-value="${category.categoryOrder}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="icon">图标</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="icon" name="icon" placeholder="图标...选填">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="url">URL</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="url" name="url" placeholder="URL...选填">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <br>

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="fragment :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div th:replace="fragment :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<th:block th:replace="fragment :: common-js"/>
<script type="text/javascript" th:src="@{assets/base/js/category.js}"></script>
<script type="application/javascript" th:inline="javascript">

</script>
</body>
</html>