<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="fragment :: head"></head>


<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:replace="fragment :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div th:replace="fragment :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:replace="fragment :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-pull-0">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">权限信息</h3>
                        <div class="panel-options">
                            <button class="btn btn-info create">
                                创建权限
                            </button>
                        </div>
                    </div>

                    <div class="panel-body">

                        <!--/*@thymesVar id="permission" type="com.github.cloud0072.base.model.Permission"*/-->
                        <table class="table table-striped" id="main-table">
                            <thead>
                            <tr>
                                <th class="no-sorting i-checkbox">
                                    <label>
                                        <input type="checkbox" class="cbr">
                                    </label>
                                </th>
                                <th class="name-column">权限名</th>
                                <th>编码</th>
                                <th>资源</th>
                                <th>操作</th>
                                <th>实体</th>
                                <th class="operation">操作</th>
                            </tr>
                            </thead>

                            <tbody class="middle-align">

                            <tr data-th-each="permission : ${page}">
                                <td>
                                    <input type="checkbox" class="cbr" th:value="${permission.id}">
                                </td>
                                <td data-th-text="${permission.name}"></td>
                                <td data-th-text="${permission.code}"></td>
                                <td data-th-text="${permission.entityResource?.code}"></td>
                                <td data-th-text="${permission.operation}"></td>
                                <td data-th-text="${permission.resourceId}"></td>
                                <td>
                                    <a href="javascript:void(0)" data-th-attr="entity_id=${permission.id}"
                                       class="btn btn-info btn-sm btn-icon icon-left view">
                                        查看
                                    </a>
                                    <a href="javascript:void(0)" data-th-attr="entity_id=${permission.id}"
                                       class="btn btn-secondary btn-sm btn-icon icon-left update">
                                        修改
                                    </a>
                                    <a href="javascript:void(0)" data-th-attr="entity_id=${permission.id}"
                                       class="btn btn-danger btn-sm btn-icon icon-left remove">
                                        删除
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <div th:replace="fragment :: pagination"></div>

                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="fragment :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div th:replace="fragment :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:replace="fragment :: common-js"></div>
<script type="application/javascript" th:inline="javascript">

</script>
</body>
</html>