<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="/fragment/head :: head"></head>
<style>
    span.form-control {
        border: none;
    }
</style>

<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:include="/fragment/settings-pane :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div class="sidebar-menu toggle-others" th:include="/fragment/menu :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:include="/fragment/user-info :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-th-text="${type == 'self' ? '个人信息' : '用户信息'}"></h3>
                        <div class="panel-options">
                            <button class="btn btn-secondary update" data-th-attr="entity_id=${id}">
                                修改
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">

                        <!--/*@thymesVar id="user" type="com.caolei.system.pojo.User"*/-->
                        <form id="menu_form" role="form" class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="userName">用户名</label>

                                <div class="col-sm-8">
                                    <span class="form-control" id="userName"
                                          data-th-text="${user.userName}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="account">账号</label>

                                <div class="col-sm-8">
                                     <span class="form-control" id="account"
                                           data-th-text="${user.account}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="email">邮箱</label>

                                <div class="col-sm-8">
                                     <span class="form-control" id="email"
                                           data-th-text="${user.email}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="phone">手机</label>

                                <div class="col-sm-8">
                                     <span class="form-control" id="phone"
                                           data-th-text="${user.phone}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="createTime">创建日期</label>

                                <div class="col-sm-8">
                                     <span class="form-control" id="createTime"
                                           data-th-text="${user.createTime}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">包含角色</label>

                                <div class="col-sm-8">
                                    <p>
                                        <label class="checkbox-inline" th:each="role : ${roles}">
                                            <input type="checkbox" checked disabled>
                                            <span th:text="${role.name}"></span>
                                        </label>
                                    </p>

                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <br>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">


                </div>
            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="/fragment/footer :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div id="chat" class="fixed" th:include="/fragment/chat-pane :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:include="/fragment/onload_js :: onloadJS"></div>
<div th:include="/fragment/crud_js :: crud_js"></div>
<script type="text/javascript" th:inline="javascript">

</script>
</body>
</html>