<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="/fragment/head :: head"></head>

<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:include="/fragment/settings-pane :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div class="sidebar-menu toggle-others" th:include="/fragment/menu :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:include="/fragment/user-info :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-th-text="${type == 'self' ? '个人信息' : '用户信息'}"></h3>
                        <div class="panel-options">
                            <button class="btn btn-info save" data-th-attr="entityid=${id}"
                                    data-th-remove="${op == 'delete'?'all':'none'}">保存
                            </button>
                            <button class="btn btn-danger remove" data-th-attr="entity_id=${id}"
                                    data-th-remove="${op == 'delete'?'none':'all'}">删除
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">

                        <!--/*@thymesVar id="user" type="com.caolei.system.pojo.User"*/-->
                        <form id="main_form" role="form" class="form-horizontal" method="post">
                            <label>
                                <input hidden="hidden" name="id" data-th-value="${id}">
                            </label>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="userName">用户名</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="userName" name="userName"
                                           placeholder="用户名" data-th-value="${user.userName}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="account">账号</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="account" name="account"
                                           placeholder="账号" data-th-value="${user.account}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="password">密码</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="password" name="password"
                                           placeholder="密码" onfocus="this.type='password'">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="passwordCheck">确认密码</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="passwordCheck" name="passwordCheck"
                                           placeholder="确认密码" onfocus="this.type='password'">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="email">邮箱</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" name="email"
                                           placeholder="email" data-th-value="${user.email}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="phone">手机</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           placeholder="手机" data-th-value="${user.phone}">
                                </div>
                            </div>

                            <div class="form-group-separator" data-th-remove="${op == 'find'?'none':'all'}"></div>
                            <div class="form-group" data-th-remove="${op == 'find'?'none':'all'}">
                                <label class="col-sm-2 control-label" for="createTime">创建日期</label>
                                <div class="col-sm-8">
                                     <span class="form-control" id="createTime"
                                           data-th-text="${user.createTime}"></span>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择角色</label>

                                <div class="col-sm-8">
                                    <p>
                                        <!--/*@thymesVar id="role" type="java.util.Map"*/-->
                                        <label class="checkbox-inline" data-th-each="role : ${roles}">
                                            <input name="role-checked" data-th-value="${role.id}"
                                                   type="checkbox" data-th-checked="${role.checked}">
                                            <span data-th-text="${role.name}"></span>
                                        </label>
                                    </p>

                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <br>

                        </form>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="panel-title">
                            Basic Initialization
                        </div>
                    </div>

                    <div class="panel-body">

                        <!-- Auto initialization -->
                        <form th:action="@{/system/user/upload/portrait}" class="dropzone"></form>

                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="/fragment/footer :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div id="chat" class="fixed" th:include="/fragment/chat-pane :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:include="/fragment/onload_js :: onloadJS"></div>
<div th:include="/fragment/crud_js :: crud_js"></div>
<script th:src="@{/assets/js/datepicker/bootstrap-datepicker.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/timepicker/bootstrap-timepicker.min.js}" type="text/javascript"></script>
<!-- Imported styles on this page -->
<link rel="stylesheet" th:href="@{/assets/js/dropzone/css/dropzone.css}">
<!-- Imported scripts on this page -->
<script  th:src="@{/assets/js/dropzone/dropzone.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        if ([[${op == 'find'}]]) {
            $("#account").attr("readOnly");
        }
    });

</script>
</body>
</html>