<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragment/head :: head"></head>
<style>
    .none-border {
        border: none;
    }
</style>

<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:include="/fragment/settings-pane :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div class="sidebar-menu toggle-others" th:include="/fragment/menu :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:include="/fragment/user-info :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-th-text="${op == 'create'? '新建角色':'编辑角色'}">编辑角色</h3>
                        <div class="panel-options">
                            <button class="btn btn-info" onclick="update()"
                                    data-th-remove="${op == 'delete'?'all':'none'}">保存
                            </button>
                            <button class="btn btn-danger" onclick="remove()"
                                    data-th-remove="${op == 'delete'?'none':'all'}">删除
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!--/*@thymesVar id="role" type="com.caolei.system.pojo.Role"*/-->
                        <form id="main_form" role="form" class="form-horizontal" method="post">
                            <label>
                                <input hidden="hidden" name="id" data-th-value="${id}">
                            </label>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">名称</label>

                                <div class="col-sm-8">

                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="角色名称" data-th-value="${role.name}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="code">编码</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="code" name="code"
                                           placeholder="角色编码" data-th-value="${role.code}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="description">描述</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="description" name="description"
                                           placeholder="描述" data-th-value="${role.description}">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="multi-select">权限</label>

                                <div class="col-sm-8">
                                    <script type="text/javascript">
                                        jQuery(document).ready(function ($) {
                                            $("#multi-select").multiSelect({
                                                afterInit: function () {
                                                    // Add alternative scrollbar to list
                                                    this.$selectableContainer.add(this.$selectionContainer)
                                                        .find('.ms-list').perfectScrollbar();
                                                },
                                                afterSelect: function () {
                                                    // Update scrollbar size
                                                    this.$selectableContainer.add(this.$selectionContainer)
                                                        .find('.ms-list').perfectScrollbar('update');
                                                }
                                            });
                                        });
                                    </script>
                                    <select class="form-control" multiple="multiple" id="multi-select"
                                            name="permission-select[]">
                                        <option data-th-each="p : ${permissions}"  data-th-text="${p.name}"
                                                data-th-value="${p.id}" data-th-selected="${p.checked}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <br>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="/fragment/footer :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div id="chat" class="fixed" th:include="/fragment/chat-pane :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:include="/fragment/onload_js :: onloadJS"></div>

<link rel="stylesheet" data-th-href="@{/assets/js/multiselect/css/multi-select.css}">
<script data-th-src="@{/assets/js/multiselect/js/jquery.multi-select.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var baseUrl = /*[[@{'/'+${moduleName}+'/'+${entityName}}]]*/ +'';
    var form = $("#main_form");

    $(function () {
        if ([[${op == 'find'}]]) {
            $("#account").attr("readOnly");
        }
    });

    function update() {
        var id = [[${id}]];
        var url = '';

        if (id == null || id === '') {
            url = baseUrl + '/create';
        } else {
            url = baseUrl + '/update';
        }

        form.attr("action", url);
        form.submit();
    }

    function remove() {
        var url =  baseUrl + '/delete';
        form.attr("action", url);
        form.submit();
    }
</script>
</body>
</html>