<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragment :: head"></head>
<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:replace="fragment :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div th:replace="fragment :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:replace="fragment :: user-info"></div>

        <!-- 页脚版权信息 -->
        <footer th:replace="fragment :: footer"></footer>

        <!-- ********** 主页面 开始 ********** -->


        <h3>Hello World！ 这是一个空的标准模板页面</h3>
        <div sec:authorize="isAuthenticated()">
            Hello <span sec:authentication="name">someone</span>
        </div>


        <!-- ********** 主页面 结束 ********** -->

    </div>

    <!-- 右侧聊天面板 -->
    <div th:replace="fragment :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:replace="fragment :: common-js"></div>
<script type="text/javascript">


</script>

</body>
</html>