<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head th:replace="/fragment/head :: head"></head>
<link rel="stylesheet" th:href="@{/s/css/table.css}">

<body class="page-body">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:include="/fragment/settings-pane :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div class="sidebar-menu toggle-others" th:include="/fragment/menu :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:include="/fragment/user-info :: user-info"></div>

        <!-- ********** 主页面 开始 ********** -->


        <div class="row">
            <div class="col-sm-pull-0">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">权限信息</h3>
                        <div class="panel-options">
                            <button id="create" class="btn btn-info" onclick="showCreate()">
                                创建权限
                            </button>
                        </div>
                    </div>

                    <div class="panel-body">

                        <!--/*@thymesVar id="permission" type="com.caolei.system.pojo.Permission"*/-->
                        <table class="table table-striped" id="main-table">
                            <thead>
                            <tr>
                                <th class="no-sorting i-checkbox">
                                    <input type="checkbox" class="cbr">
                                </th>
                                <th class="name-column">权限名</th>
                                <th>编码</th>
                                <th>资源</th>
                                <th>操作</th>
                                <th>实体</th>
                                <th class="operation">操作</th>
                            </tr>
                            </thead>

                            <tbody class="middle-align">

                            <tr data-th-each="permission : ${page}">
                                <td>
                                    <input type="checkbox" class="cbr" th:value="${permission.id}">
                                </td>
                                <td data-th-text="${permission.name}"></td>
                                <td data-th-text="${permission.code}"></td>
                                <td data-th-text="${permission.entityResource?.code}"></td>
                                <td data-th-text="${permission.operation}"></td>
                                <td data-th-text="${permission.resourceId}"></td>
                                <td>
                                    <a data-th-href="@{'/system/permission/find/'+${permission.id}}"
                                       class="btn btn-info btn-sm btn-icon icon-left">
                                        查看
                                    </a>
                                    <a data-th-href="@{'/system/permission/update/'+${permission.id}}"
                                       class="btn btn-secondary btn-sm btn-icon icon-left">
                                        修改
                                    </a>
                                    <a data-th-href="@{'/system/permission/delete/'+${permission.id}}"
                                       class="btn btn-danger btn-sm btn-icon icon-left">
                                        删除
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <div th:include="/fragment/pagination :: pagination"></div>

                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

        <!-- 页脚版权信息 -->
        <footer th:replace="/fragment/footer :: footer"></footer>

    </div>

    <!-- 右侧聊天面板 -->
    <div id="chat" class="fixed" th:include="/fragment/chat-pane :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:include="/fragment/onload_js :: onloadJS"></div>

<script type="application/javascript" th:inline="javascript">
    var baseUrl = /*[[@{'/'+${moduleName}+'/'+${entityName}}]]*/ +'';

    function showCreate() {
        location.href = baseUrl + '/create';
    }
</script>

</body>
</html>