<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<body>
<div th:fragment="crud_js">
    <form method="post" id="form">
        <input id="id" name="id" type="hidden">
    </form>
    <script type="text/javascript" th:inline="javascript">
        var hostUrl = /*[[@{'/'}]]*/ +'';
        var baseUrl = /*[[@{${modulePath}+${entityPath}}]]*/ +'';

        $('.btn.view').on('click', function () {
            var id = $(this).attr("entity_id");
            location.href = baseUrl + '/view/' + id;
        });

        $('.btn.create').on('click', function () {
            location.href = baseUrl + '/create';
        });

        $('.btn.update').on('click', function () {
            var id = $(this).attr("entity_id");
            location.href = baseUrl + '/update/' + id;
        });

        $('.btn.save').on('click', function () {
            var form = $("#main_form");
            var id = $(this).attr("entity_id");
            var method = id ? 'PUT' : 'POST';
            var url = id ? baseUrl + "/" + id : baseUrl;
            $.ajax({
                url: url,
                type: method,
                data: form.serialize(),
                success: function (data) {
                    // console.log(data);
                    if (data && data.url) {
                        debugger;
                        location.href = hostUrl + data.url;
                    }
                }
            });
        });

        $('.btn.remove').on('click', function () {
            var id = $(this).attr("entity_id");
            $.ajax({
                url: baseUrl + "/" + id,
                type: "DELETE",
                success: function (data) {
                    // console.log(data);
                    if (data && data.url) {
                        location.href = hostUrl + data.url;
                    }
                }
            });
        });
    </script>

</div>
</body>
</html>