<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragment :: head"></head>
<link rel="stylesheet" th:href="@{/assets/bootstrap-select/css/bootstrap-select.min.css}">
<script type="text/javascript"
        th:src="@{/assets/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>

<body class="page-body" onload="disconnect()">
<!-- 顶部用户信息和设置 (平时隐藏) -->
<div th:replace="fragment :: settings-pane"></div>

<div class="page-container">

    <!-- 左侧菜单栏 -->
    <div th:replace="fragment :: main-menu"></div>

    <div class="main-content">

        <!-- 顶部用户信息栏 -->
        <div th:replace="fragment :: user-info"></div>

        <!-- 页脚版权信息 -->
        <footer th:replace="fragment :: footer"></footer>

        <!-- ********** 主页面 开始 ********** -->

        <noscript>
            <h2 style="color: #ff0000">
                Seems your browser doesn't support Javascript! Websocket relies on
                Javascript
                being enabled. Please enable
                Javascript and reload this page!
            </h2>
        </noscript>

        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">在线推送</h3>
                        <div class="panel-options">
                            <button class="btn btn-secondary" id="connect"
                                    onclick="connect();" style="display: none">
                                重新连接
                            </button>
                            <button class="btn btn-info" id="sendMessage"
                                    onclick="sendMessage();" type="button">
                                发布
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">

                        <!--/*@thymesVar id="category" type="com.github.cloud0072.base.model.Category"*/-->
                        <form id="main_form" role="form" class="form-horizontal">
                            <span hidden="hidden" id="username" sec:authentication="name"></span>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="chatContent">信息</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="chatContent" name="chatContent"
                                           placeholder="信息">
                                </div>
                            </div>

                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="userGroup">用户组</label>

                                <div class="col-sm-8">
                                    <select class="selectpicker" id="userGroup"
                                            data-style="btn-info" data-live-search="true"
                                            name="userGroup" multiple>
                                        <option value="1">广东省</option>
                                        <option value="2">广西省</option>
                                        <option value="3">福建省</option>
                                        <option value="4">湖南省</option>
                                        <option value="5">山东省</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- ********** 主页面 结束 ********** -->

    </div>

    <!-- 右侧聊天面板 -->
    <div th:replace="fragment :: chat-pane"></div>

</div>

<!-- 引入js文件 -->
<div th:replace="fragment :: common-js"></div>
<script type="text/javascript" th:src="@{/assets/js/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/stomp.js}"></script>

<script type="application/javascript" th:inline="javascript">
    var stompClient = null;

    var endpoint = hostUrl + "chat/endpoint";
    var subscribeUrl = '/topic/system';
    var sendUrl = '/topic-system';
    var account = $("#account").val();

    $(function () {
        $("#userGroup").selectpicker({
            width: '100%'
        });

        connect();
        window.onunload = function () {
            disconnect();
        }
    });

    function connect() {
        var socket = new SockJS(endpoint);
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function () {
            setConnected(true);
            stompClient.subscribe(subscribeUrl, function (response) {
                if (response && response.body) {
                    var data = JSON.parse(response.body);
                    if (data.account !== account) {
                        toastr.success(data.chatContent, "您收到了新的消息:");
                    } else {
                        bootbox.alert({
                            message: '发送成功!',
                            size: 'small',
                            buttons: {
                                ok: {
                                    label: "确认",
                                    className: "btn-info"
                                }
                            }
                        });
                    }
                }

            });
        });
    }

    function sendMessage() {

        stompClient.send(sendUrl, {}, JSON.stringify({
            "account": account,
            "destUser": null,
            "chatContent": $('#chatContent').val(),
            "userGroup": $('#userGroup').val()
        }));
    }

    function setConnected(connected) {
        if (connected) {
            $("#connect").hide();
        } else {
            $("#connect").show();
        }
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

</script>

</body>
</html>
