<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<body>
<div th:fragment="onloadJS">

    <!-- Bottom Scripts -->
    <script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/TweenMax.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/resizeable.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/joinable.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/xenon-api.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/xenon-toggles.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/bootstrap-treeview/bootstrap-treeview.js}" type="text/javascript"></script>

    <!-- JavaScripts initializations and stuff -->
    <script th:src="@{/assets/js/xenon-custom.js}" type="text/javascript"></script>

</div>
</body>
</html>